@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --white: #ffffff;
  --almost-white: #f2f2f7;
  --light-color: #2c3242;
  --medium-color: #252935;
  --dark-color: #1b242f;
  --main-color: #267f97;   
}
 

* {
  font-family: Roboto;    
  font-size: 18px;
}

html, body, #root {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

input, button, h2 {
  margin: 0rem;
  font-size: inherit;
}


/* .app {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    width: 100%;
} */
